<app-sub-header [title]="title" [icon]="icon"></app-sub-header>
<div id="info-container">

	<mat-card *ngIf="apparatusTypes" class="mat-typography">
		<app-apparatus-autocomplete
			[apparatusTypes]="apparatusTypes" 
			(apparatusTypeSelected)="onApparatusTypeSelected($event)">
		</app-apparatus-autocomplete>
	</mat-card>
	<mat-card *ngIf="apparatusType" class="mat-typography">
		<app-apparatus-view
			[apparatusType]="apparatusType"
			[chartData]="chartData">
		</app-apparatus-view>
	</mat-card>
	
</div>
