section {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}

div:first-child {
	flex-grow: 1;
	justify-content: flex-start;
}

div:last-child {
	display: flex;
	flex-grow: 1;
	align-items: center;
}
