#incident-location-row {
	display: flex;
	flex-direction: row;
}

#incident-location-row button {
	margin-left: 25px;
}

mat-form-field {
	width: 100%;
}

#incident-simulate-row {
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}
