<div *ngIf="sortedData" id="table-container" class="mat-elevation-z3">
	<table mat-table matSort [dataSource]="sortedData" (matSortChange)="sortData($event)">
		
		<ng-container matColumnDef="unitDesignator">
 			<th mat-header-cell *matHeaderCellDef>Unit ID</th>
  			<td mat-cell *matCellDef="let unit">{{ unit.unitDesignator }}</td>
		</ng-container>
		
		<ng-container matColumnDef="typeName">
 			<th mat-header-cell mat-sort-header="typeName" *matHeaderCellDef>Unit Type</th>
  			<td mat-cell *matCellDef="let unit" [matTooltip]="getUnitToolTip( unit )">{{ unit.typeName | unitTypeName }}</td>
		</ng-container>
		
		<ng-container matColumnDef="stationName">
 			<th mat-header-cell mat-sort-header="stationName" *matHeaderCellDef>Station</th>
  			<td mat-cell *matCellDef="let unit">{{ unit.stationName }}</td>
		</ng-container>
		
		<ng-container matColumnDef="deptAbbreviation">
 			<th mat-header-cell mat-sort-header="deptAbbreviation" class="center" *matHeaderCellDef>Department</th>
  			<td mat-cell class="center" *matCellDef="let unit" [matTooltip]="unit.departmentName">{{ unit.deptAbbreviation }}</td>
		</ng-container>
		
		<ng-container matColumnDef="travelTime">
 			<th mat-header-cell mat-sort-header="travelTime" class="center" *matHeaderCellDef>Travel Time</th>
  			<td mat-cell class="center" *matCellDef="let unit">{{ unit.travelTime | secondsToMinutes }}</td>
		</ng-container>
		
		<tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
 		<tr mat-row class="data-row"
 			*matRowDef="let row; columns: displayedColumns;"
 			[ngClass]="{ 'row-hover': row.isHighlighted === true }">
 		</tr>
	</table>
</div>
