#user-guide-container {
	margin: 1em;
}

.sub-section {
	margin: 1.5em 0em 0em 1em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
}

mat-card {
	background-color: #fbfbfb
}

h3 {
 margin-bottom: 0px;
}