<app-sub-header [title]="title" [icon]="icon"></app-sub-header>
<div id="user-guide-container">
	<mat-card class="mat-typography">
		<p>
			The NOVA Fire and Rescue dashboard is a simulated operations dashboard 
			for the Northern Virginia fire departments. The application provides the 
			capability to view information about fire departments, fire stations
			and types of fire apparatus within Northern Virginia region. Users can 
			also select various types of emergency incidents and simulate the response 
			to those incidents. 
		</p>
		<div class="sub-section">
			<div class="flex-container">
				<mat-icon class="icon">location_city</mat-icon>
				<h3>Department Information</h3>
			</div>
			<span>
				Allows the user to select a fire department and view information about that
				department. The information includes the list of stations belonging to that
				department and the number and types of apparatus that department owns. 
			</span>
		</div>
		
		<div class="sub-section">
			<div class="flex-container">
				<mat-icon class="icon">store_mall_directory</mat-icon>
				<h3>Station Information</h3>
			</div>
			<span>
				Allows the user to select a fire station and view information about the station 
				including its address and contact information and a list of fire apparatus assigned
				to the station.
			</span>
		</div>
		
		<div class="sub-section">
			<div class="flex-container">
				<mat-icon class="icon">local_taxi</mat-icon>
				<h3>Apparatus Information</h3>
			</div>
			<span>
				Allows the user to select a type of fire apparatus and view information about that
				apparatus type. This information includes an image and description of the apparatus 
				type. Additionally, the stations that have an apparatus of the selected type assigned 
				to it will be highlighted on the map. 
			</span>
		</div>
		
		<div class="sub-section">
			<div class="flex-container">
				<mat-icon class="icon">notifications_active</mat-icon>
				<h3>Incident Simulator</h3>
			</div>
			<span>
				The incident simulator allows the user to simulate the emergency response to various
				types of emergency incidents. Users select a type of incident, the incident location
				and specify the incident characteristics. The application will simulate the response
				and provide a list of apparatus that will respond to the incident and display travel
				routes from the stations to the incident site on the map.
			</span>
		</div>
	</mat-card>
</div>
