#user-guide-container {
	font-family: "Verdana", "Arial";
	margin: 0em 1em 1em 1em;
}

.sub-section {
	margin-left: 1em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
	margin-right: 10px;
}