#dept-info {
	display: flex;
	flex-direction: row;
	margin-left: 10px;	
}

.dept-info-section {
	display: flex;
	flex-direction: column;
	width: 50%;
}

app-bar-chart {
	display: block;
	margin-top: 25px;
}