<div class="mat-typography">
	<h2 style="margin-bottom:5px">{{ department.departmentName }}</h2>
	<div id="dept-info">
		<div class="dept-info-section">
			<h4 style="margin-bottom:0px">Chief: <b>{{ department.chief }}</b></h4>
			<h4 style="margin-bottom:0px">Personnel: <b>{{ department.personnel  | number }}</b></h4>
		</div>
		<div class="dept-info-section">
			<h4 style="margin-bottom:0px">Number of Stations: <b>{{ department.stations.length }}</b></h4>
			<h4 style="margin-bottom:0px">Number of Units: <b>{{ department.unitCount }}</b></h4>
		</div>
	</div>
	<app-station-list *ngIf="department.stations" [stations]="department.stations"></app-station-list>
	<app-bar-chart *ngIf="chartData" [chartData]="chartData"></app-bar-chart>
</div>
