<section>
	<div>
		<mat-form-field>
			<input matInput 
				type="number"
				placeholder="Number of casualties"
				min="5"
				max="100"
				pattern="([5-9]|([1-9][0-9])|100)"
				name="countCtrl"
				#countCtrl="ngModel"
				[(ngModel)]="incidentForm.casualties"
				required>
			<mat-hint align="start">5 - 100</mat-hint>
			<mat-error *ngIf="countCtrl.invalid && countCtrl.dirty && countCtrl.errors.required">
				This field is required
			</mat-error>
		    <mat-error *ngIf="countCtrl.invalid && countCtrl.dirty && countCtrl.errors.pattern">
		    	Value must be in the range 5 - 100
		    </mat-error>
		</mat-form-field>
	</div>
</section>
