<app-sub-header [title]="title" [icon]="icon"></app-sub-header>
<div id="info-container">
	<app-incident-builder 
		*ngIf="!response" 
		(simulate)="onSimulate($event)">
	</app-incident-builder>
	<app-incident-response 
		*ngIf="response" 
		[incidentResponse]="response"
		(clearResponse)="clearResponse()">
	</app-incident-response>
</div>
<div *ngIf="processing" id="processing-container">
	<div id="overlay"></div>
	<div id="spinner">
		<mat-spinner color="primary"></mat-spinner>
	</div>
</div>


